html, body {
    height: 100%;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgb(58, 58, 58);
}
.player {
    font-size: 100px;
    margin-bottom: 30px;
}
.buttons{
    height: 80px;
    align-items: center;
    display: flex;
}
.choice-button {
    transition: 0.2s;
    width: 70px;
    font-size: 50px;
    margin: 5px;
    background-color: gray;
    border-radius: 10px;
    border: none;
}
.player-choice:hover{
    box-shadow: 0px 2px 3px rgb(209, 195, 195);
    text-shadow: 0px 2px 3px rgb(209, 195, 195);
    font-size: 60px;
    border: 2px solid rgb(209, 195, 195);
}

.bob{
    font-size: 100px;
    margin-bottom: 30px;
}
.divisor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.line {
    height: 0;
    border-top: 1px solid white;
    width: 40%;
}

.button-active.player-choice{
    font-size: 30px;
    background-color: black;
    border: 2px solid white;
}

.highlight-choice{
    background-color: rgb(138, 51, 36);
    border: 2px solid white;
}